@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --navbar-height: 4rem;
}

body {
  --fg: #000000;
  --bg: #ffffff;

  color: var(--fg);
  background-color: var(--bg);
}

/* to select components when dark: :global(body.dark) component{} */

body.dark {
  --fg: #ffffff;
  --bg: #000000;
}

/* remove top space,  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
